/* Дизайн */
a, input, button, select, textarea {
    outline: none !important;
}

/*
a:not(.btn), a:not(.btn):hover {
    color: #018ccd;
    text-decoration: none;
}
a:not(.btn):hover {
    border-bottom: 1px dashed #018ccd;
}
*/

footer ul {
    list-style: none;
    padding: 5px;
}
footer ul li:before {
    content:  "—";
    position: relative;
    left:     -5px;
}
@media (min-width: 1200px) {
    .container {
        width: 970px;
    }
}

/* Главная страница */
.logo {
    font-size: 36px;
    font-weight: bold;
}

.item {
    margin: 10px auto;
    background-color: #fbfbfb;
    border-radius: 6px;
}
.item:hover {
    box-shadow: 0 1px 7px -2px rgba(0, 0, 0, 0.800);
}

.sorter_block {
    text-align: right;
}
.sorter_block ul.sorter {
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.sorter_block li {
    display: inline-block;
    margin: 0 10px;
}
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}
/*
.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}


.grid-view th {
    white-space: nowrap;
}
.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}
*/

.product_item {
    position: relative;
    display: block;
}
.product_item__image {
    margin: 20px;
}
.product_item__image img {
    max-width: 100%;
}
.product_item__url,
.product_item__url:hover {
    color: #018ccd;
    text-decoration: none;
}
.product_item__name {
    padding-right: 20px;
    font-size: 24px;
}
.product_item__rating {

}
.product_item__offer {
    padding: 10px;
    text-align: left;
}
.product_item__available,
.product_item__delivery {
    display: inline-block;
    margin-right: 10px;
}
.product_item__price_block {
}
.product_item__currency {
    font-size: 26px;
}
.product_item__price {
    font-size: 30px;
}
.product_item__properties {
    width: 100%;
    color: #666;
}
.product_item__properties td {
    padding: 2px 10px;
    width: 60%;
}
.product_item__show_more {
    margin: 0 10px;
}
.product_item__show_more_link,
.product_item__show_more_link:hover {
    color: #018ccd;
    text-decoration: none;
}
.product_item__show_more_link:hover {
    border-bottom: 1px dashed #018ccd;
}
.product_item__info {
    border-top: 1px dashed #999999;
    padding: 5px;
}


/* Товар на отдельной странице */
.product__name {
    font-size: 24px;
}
.product__image {
}
.gallery-item {
}
.gallery-item img {
    height: 60px;
    width: 60px;
    border: none;
    vertical-align: text-top;
}
